<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=MyDatabase;Integrated Security=True" />
	</appSettings>
	<connectionStrings>
		<add name="BusinessDb"
		connectionString="Data Source=localhost;
		Initial Catalog=BUSINESS_DB_0002;
		Integrated Security=true;
		TrustServerCertificate=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>