@using Domain.Models;
@model StockLogCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Stock Record</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <label asp-for="Data.Type" class="control-label"></label>
            <select asp-for="Data.Type" class="form-select" aria-label="Select type">
              <option selected disabled value="0">Select type</option>
              <option value="1">In</option>
              <option value="2">Out</option>
            </select>
            <br />
            <label asp-for="Data.ProductId" class="control-label"></label>
            <select asp-for="Data.ProductId" class="form-select" aria-label="Select product">
              <option selected disabled value="0">Select product</option>
                @foreach(var p in Model.Products)
                {
                    <option value="@p.ProductNo">@p.Name</option>
                }
            </select>

         
            <br />
            <div class="form-group">
                <label asp-for="Data.Count" class="control-label"></label>
                <input asp-for="Data.Count" class="form-control" />
                <span asp-validation-for="Data.Count" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Data.Description" class="control-label"></label>
                <input asp-for="Data.Description" class="form-control" />
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
        
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
