@using Domain.Enums;
@model Domain.Entities.User

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kullanıcı Detay</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="dialog">
            <div class="form-group">
                <label asp-for="UserNo" class="control-label"></label>
                <input asp-for="UserNo" readonly class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" readonly asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                </label>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDate" readonly class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" readonly class="form-control" />
            </div>
           
            <br />
            <div class="form-group">
                <label asp-for="LastLoginIp" class="control-label"></label>
                <input asp-for="LastLoginIp" readonly class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LastLoginUserAgent" class="control-label"></label>
                <input asp-for="LastLoginUserAgent" readonly class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LastLoginDate" class="control-label"></label>
                <input asp-for="LastLoginDate" readonly class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FailedPasswordCount" class="control-label"></label>
                <input asp-for="FailedPasswordCount" readonly class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PasswordLastUpdateDate" class="control-label"></label>
                <input asp-for="PasswordLastUpdateDate" readonly class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" readonly class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="RoleType" class="control-label"></label>
                <input value="@((RoleType)Model.RoleType)" readonly class="form-control" />
            </div>
        </form>
    </div>
</div>
  <br />
<br />
<div>
    <a asp-action="List">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
