@using Domain.Models;
@model DebtLogCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borç Kayıt Listesi</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <label asp-for="Data.Type" class="control-label"></label>
            <select select asp-for="Data.Type" class="form-select" aria-label="Seçiniz">
              <option selected disabled value="0">Seçiniz</option>
              <option value="1">Alınan</option>
              <option value="2">Verilen</option>
            </select>
            <br />
            <div class="form-group">
                <label asp-for="Data.Money" class="control-label"></label>
                <input asp-for="Data.Money" class="form-control" />
                <span asp-validation-for="Data.Money" class="text-danger"></span>
            </div>
            <br />
            <label asp-for="Data.CustomerId" class="control-label"></label>
            <select asp-for="Data.CustomerId" class="form-select" aria-label="Seçiniz">
              <option selected disabled value="0">Seçiniz</option>
                @foreach(var p in Model.Customers)
                {
                    <option value="@p.Id">@p.Name : @p.CompanyName</option>
                }
            </select>
            <br />
            <div class="form-group">
                <label asp-for="Data.Description" class="control-label"></label>
                <input asp-for="Data.Description" class="form-control" />
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>            
            <br />

            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="List">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
